<%# Final Project: Quiz Application with Microservices %>
<%# Date: 14-May-2019 %>
<%# Authors: %>
<%# 	A01371872 Gerardo Galván %>
<%# 	A01377503 Ian Neumann %>
<%# 	A01371779 Andrés de Lago %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <link href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
    <title>Quiz</title>
  </head>
  <body class='container'>
    <p>Done!</p>
    <p><%= @quiz %></p>
    <p><%= @scores %></p>

    <form action='done' method='post'>
      <input type='text' name='phone_number' required />
      <button type='submit' class='btn btn-primary'>Send score over sms!</button>
    </form>

  </body>
</html>