<%# Final Project: Quiz Application with Microservices %>
<%# Date: 14-May-2019 %>
<%# Authors: %>
<%# 	A01371872 Gerardo Galván %>
<%# 	A01377503 Ian Neumann %>
<%# 	A01371779 Andrés de Lago %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
    <title>Quiz</title>
  </head>
  <body class='container'>
    <p>heeeey</p>
  </body>
</html>